@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  border: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 24rem;
}

.footer {
  width: 100%;
  height: 24rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  background-color: #004f78;
  bottom: 0;
  & .footer_contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .footer_redesSocialesContent {
      width: 100%;
      height: 3rem;
      margin: 3rem 0;
    }
    & .footer_logoBizSvg {
      width: 7rem;
      height: max-content;
      fill: #ffffffdd;
      margin: 1rem 0;
    }
    & .footer_copyrightContent {
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      color: #ffffffdd;
      font-size: 2rem;
    }
  }
}

.main {
  width: 100%;
  min-height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  & .contentPrincipal {
    width: 60%;
    height: max-content;
    display: flex;
    box-shadow: 0.5rem 0.5rem 0.3rem #004f7811;
    background-color: #004f7822;
    border-radius: 1rem;
    padding: 4rem;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
    margin-top: 10rem;
    & div {
      width: 100%;
      height: max-content;
      display: flex;
    }
    & .div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      & svg {
        width: 18rem;
        height: max-content;
        fill: #004f78;
      }
      & .spanCorreo1 {
        width: 100%;
        margin-top: 2rem;
        font-size: 2rem;
        text-align: center;
        color: #004f78;
      }
      & .spanCorreo2 {
        width: 100%;
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;
        color: #0077b2;
      }
    }
    & input {
      width: 50%;
      font-size: 2rem;
      border-radius: 1rem;
      padding: 1rem;
      margin-top: 4rem;
      padding-left: 2rem;
      background-color: #004f7822;
      color: #003e67;
      &:focus {
        outline: 3px solid #3d94ce;
        &::placeholder {
          color: #ffffff99;
        }
      }
      &::placeholder {
        color: #004f78cc;
      }
    }
    & .spanErr {
      width: 50%;
      text-align: left;
      margin-top: 0.2rem;
      font-size: 1.8rem;
      color: #f30;
      opacity: 0;
    }
    & .div2 {
      width: 50%;
      margin-top: 2rem;
      height: max-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .btnRegistrarM {
        width: 45%;
        height: max-content;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #004f7844;
        color: #eee;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #004f7888;
          color: #eee;
        }
      }
      & .btnRegistrarM2 {
        width: 45%;
        height: max-content;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #546d7a44;
        color: #eee;
        cursor: default;
        transition: 0.3s;
      }
      & .btnCancelarM {
        width: 45%;
        height: max-content;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #78000044;
        color: #eee;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #78000088;
          color: #eee;
        }
      }
      & .btnCancelarM2 {
        width: 45%;
        height: max-content;
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #7a3f3f44;
        color: #eee;
        cursor: default;
        transition: 0.3s;
      }
    }
  }
}
