.body{
    width: 100vw;
}

.btnContainerVolver{
    width: 100%;
    height: max-content;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & .btnVolver{
        width: max-content;
        font-size: 1.4rem;
        color: #f3f3f4;
        background-color: #295a91;
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        & b{
            margin-left: .4rem;
        }
        &:hover{
            background-color: #408db9;
        }
        & .logoRegistrar{
            width: 1.8rem;
            fill: #f3f3f4;
            margin-right: 1rem;
            height: max-content;
        }
    }
}